//color variable declarations
$header-bgcolor: rgb(8, 78, 119);
$header-title: white;
$main-bgcolor: #ffd354;
$footer-bgcolor: rgb(8, 78, 119);
$footer-padding: 20px 0px;
$footer-text: center;
$footer-textcolor: white;
$footer-fontsize: 20px;
//font size
$para-fontsize: 20px;
$para-padding: 15px;
//about
$about-space: 20px 15px;
$about-padding: 20px 15px;
$about-text: justify;
